function ip
  dig +short myip.opendns.com @resolver1.opendns.com
end

function lock
  /System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend
end

function uptime
  command grc uptime
end

function df --description 'Displays disk free space'
  command df -H $argv
end

function vlc
  open -a vlc $argv
end

function pyc
  command find . -name "*.pyc" -exec rm -rf {} \;
end
